<div class="mx-auto w-full max-w-6xl mt-4 px-4">
  <div class="flex flex-row items-center justify-between flex-wrap">
    <a href="/" class="flex-shrink-0" aria-label="Taberna El Rinconcillo - Taberna tradicional">
      <img
        class="w-32 md:w-40 lg:w-48"
        src="Images/logo.png"
        alt="Taberna El Rinconcillo - Taberna típico en Almeria, Gérgal"
        width="192" height="192"
      />
    </a>

    <button
      class="bg-[#222222] px-6 py-3 rounded-xl text-white text-lg hover:scale-105 transition-transform mt-4 sm:mt-0"
    >
      <a
        href="https://carta.avocaty.io/taberna-el-rinconcillo"
        target="_blank"
        rel="noopener noreferrer"
        title="Ver la carta de Taberna El Rinconcillo - Menú de tapas y platos tradicionales"
      >
        <strong>VER CARTA</strong>
      </a>
    </button>
  </div>

  <div class="mt-8 mb-3">
    <p class="text-gray-500 text-2xl text-center max-w-3xl mx-auto font-semibold">
      Cafetería · Tapas · Taberna · Restaurante · Postres Caseros
    </p>
  </div>

  
  <meta name="description" content="Taberna El Rinconcillo ofrece desayunos, comida casera, tapas, postres caseros y más. Ubicada en Gérgal, Almería, disfruta de un ambiente único. ¡Ven a probar lo mejor de la gastronomía local!">
  <meta name="keywords" content="restaurante, taberna, tapas, comida andaluza, cafetería, postres caseros, comida típica, Gérgal, Almería, Taberna El Rinconcillo">
  <meta name="robots" content="index, follow">
  
  <meta property="og:title" content="Taberna El Rinconcillo - Restaurante de Comida Andaluza">
  <meta property="og:description" content="Disfruta de tapas, platos tradicionales andaluces y postres caseros en Taberna El Rinconcillo. El restaurante perfecto para tus reuniones y eventos en [Ciudad].">
  <meta property="og:image" content="../../src/assets/Images/logo.png">
  <meta property="og:url" content="https://www.tabernaelrinconcillo.es">
  
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Taberna El Rinconcillo - Comida Andaluza en [Ciudad]">
  <meta name="twitter:description" content="Ven a disfrutar de la auténtica comida andaluza en Taberna El Rinconcillo, un restaurante especializado en tapas y platos típicos.">
  <meta name="twitter:image" content="../../src/assets/Images/logo.png">
</div>
