---
import Comidas from "../components/Comidas.jsx";
---

<div class="mx-auto w-full max-w-6xl mt-10 px-4">
  <p class="text-3xl sm:text-5xl md:text-6xl lg:text-7xl font-bold text-center mb-10">
    Aquí podrás encontrar...
  </p>

  <Comidas />

  <div class="mt-10 mx-auto">
    <a href="http://carta.avocaty.io/taberna-el-rinconcillo" target="_blank">
      <p class="text-3xl sm:text-4xl md:text-5xl lg:text-5xl font-bold mb-3 text-left">
        y mucho más en <span class="font-bold text-5xl sm:text-6xl lg:text-7xl underline text-orange-400">
          NUESTRA CARTA
        </span>
      </p>
      <p class="text-lg sm:text-xl md:text-2xl font-semibold text-right mb-10 mr-3 sm:mr-8">
        (tenemos desde Tapas, Postres hasta Cerveza <span class="text-black text-l text-bold underline">SIN GLÚTEN</span>)
      </p>
    </a>
  </div>
</div>
