---
import Horario from "../components/Horario";
---

<div class="mx-auto w-full max-w-6xl mt-4 px-4">
  <div>
    <video
      autoplay
      muted
      loop
      class="w-full h-auto rounded-t-md"
      title="Video de Taberna El Rinconcillo - Taberna con platos caseros y más"
      src="Images/elrinconcillo.mp4"
    ></video>
    <div class="flex items-center justify-center w-full">
      <Horario client:load />
    </div>
  </div>
  <meta name="description" content="Explora Taberna El Rinconcillo con nuestro video de bienvenida. Conoce nuestros horarios y ven a disfrutar de la auténtica comida andaluza.">
  <meta name="keywords" content="restaurante, taberna, comida andaluza, video restaurante, horarios, tapas, postres caseros, desayunos, comida típica, Gérgal, Almería">
  
  <meta property="og:title" content="Taberna El Rinconcillo - Taberna con platos caseros, desayunos y postres caseros">
  <meta property="og:description" content="Mira nuestro video de presentación y descubre Taberna El Rinconcillo. Ven y disfruta de nuestras tapas y platos tradicionales.">
  <meta property="og:url" content="https://www.tabernaelrinconcillo.es">

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Taberna El Rinconcillo - Taberna con platos caseros, desayunos, y postres caseros">
  <meta name="twitter:description" content="Descubre las tapas y platos tradicionales de Taberna El Rinconcillo. ¡Te esperamos para disfrutar de lo mejor de la gastronomía andaluza!">
</div>