<div class="mx-auto w-full max-w-6xl mt-4 px-8 py-8 mb-10">
    <h1 class="text-3xl font-bold text-center mb-6">Políticas de Privacidad - Taberna El Rinconcillo</h1>
    <p class="text-gray-700 text-lg mb-6 text-center">
      En Taberna El Rinconcillo, nos tomamos muy en serio la privacidad de nuestros clientes. Esta política de privacidad explica cómo recopilamos, usamos y protegemos la información personal que nos proporcionas cuando interactúas con nosotros.
    </p>
  
    <h2 class="text-2xl font-semibold mt-6 mb-4">1. Información que recopilamos</h2>
    <p class="text-gray-700 text-lg mb-4">
      Recopilamos información personal cuando interactúas con nosotros en persona o a través de nuestro sitio web. Esta información incluye, pero no se limita a:
    </p>
    <ul class="list-disc ml-8 mb-6">
      <li>Nombre completo</li>
      <li>Dirección de correo electrónico</li>
      <li>Información de contacto (teléfono, dirección)</li>
      <li>Preferencias alimentarias y alergias, si se proporcionan</li>
    </ul>
  
    <h2 class="text-2xl font-semibold mt-6 mb-4">2. Uso de la información</h2>
    <p class="text-gray-700 text-lg mb-4">
      Utilizamos la información que recopilamos para las siguientes finalidades:
    </p>
    <ul class="list-disc ml-8 mb-6">
      <li>Mejorar nuestros servicios y ofertas, basados en tus preferencias.</li>
      <li>Enviarte información sobre promociones, eventos especiales o novedades, si has aceptado recibirla.</li>
      <li>Responder a tus consultas o comentarios de manera eficiente.</li>
    </ul>
  
    <h2 class="text-2xl font-semibold mt-6 mb-4">3. Protección de tu información</h2>
    <p class="text-gray-700 text-lg mb-4">
      Tomamos medidas razonables para proteger tu información personal, utilizando protocolos de seguridad estándar como encriptación y acceso restringido.
    </p>
  
    <h2 class="text-2xl font-semibold mt-6 mb-4">4. Compartición de la información</h2>
    <p class="text-gray-700 text-lg mb-4">
      No compartimos tu información personal con terceros, excepto cuando sea necesario para:
    </p>
    <ul class="list-disc ml-8 mb-6">
      <li>Cumplir con las leyes o regulaciones aplicables.</li>
    </ul>
  
    <h2 class="text-2xl font-semibold mt-6 mb-4">5. Cookies y tecnologías similares</h2>
    <p class="text-gray-700 text-lg mb-4">
      Nuestro sitio web utiliza cookies para mejorar tu experiencia de navegación. Puedes gestionar las cookies desde tu navegador en cualquier momento.
    </p>
  
    <h2 class="text-2xl font-semibold mt-6 mb-4">6. Acceso y control de tu información</h2>
    <p class="text-gray-700 text-lg mb-4">
      Tienes derecho a acceder, corregir o eliminar la información personal que tenemos sobre ti. Para ello, puedes ponerte en contacto con nosotros a través de nuestros canales de contacto.
    </p>
  
    <h2 class="text-2xl font-semibold mt-6 mb-4">7. Cambios a nuestra política de privacidad</h2>
    <p class="text-gray-700 text-lg mb-4">
      Nos reservamos el derecho de actualizar esta política de privacidad. Cualquier cambio importante será comunicado a través de nuestro sitio web.
    </p>
  
    <h2 class="text-2xl font-semibold mt-6 mb-4">8. Contacto</h2>
    <p class="text-gray-700 text-lg mb-4">
      Si tienes alguna pregunta o inquietud sobre nuestra política de privacidad, no dudes en contactarnos:
    </p>
    <ul class="list-disc ml-8 mb-6">
      <li>Teléfono: +34 600 09 89 01</li>
      <li>Correo electrónico: tabernarinconcillo@outlook.es</li>
      <li>Dirección: Pl. Nueva, 5, 04550 Gérgal, Almería, España</li>
    </ul>
  
  </div>
  