<div class="mx-auto w-full max-w-6xl mt-4 px-8 py-8">
  <h1 class="text-3xl font-bold text-center mb-6">Términos y Condiciones - Taberna El Rinconcillo</h1>
  <p class="text-gray-700 text-lg mb-6 text-center">
    Al acceder y utilizar los servicios de Taberna El Rinconcillo, aceptas estar sujeto a los siguientes términos y condiciones. Por favor, léelos detenidamente antes de utilizar nuestros servicios.
  </p>

  <h2 class="text-2xl font-semibold mt-6 mb-4">1. Aceptación de los términos</h2>
  <p class="text-gray-700 text-lg mb-4">
    Al utilizar nuestros servicios, ya sea en nuestro restaurante o en línea, aceptas cumplir con estos términos y condiciones. Si no estás de acuerdo con alguno de estos términos, te recomendamos no utilizar nuestros servicios.
  </p>

  <h2 class="text-2xl font-semibold mt-6 mb-4">2. Servicios ofrecidos</h2>
  <p class="text-gray-700 text-lg mb-4">
    En Taberna El Rinconcillo ofrecemos servicios de restauración en nuestro local, incluyendo comida y bebidas. Además, ponemos a disposición información sobre nuestro menú y eventos especiales a través de nuestro sitio web y otros canales.
  </p>

  <h2 class="text-2xl font-semibold mt-6 mb-4">3. Responsabilidad del usuario</h2>
  <p class="text-gray-700 text-lg mb-4">
    Como usuario, eres responsable de proporcionar información precisa y veraz al interactuar con nuestros servicios. Esto incluye, pero no se limita a, proporcionar datos de contacto correctos y actualizar cualquier cambio relevante en tu información personal.
  </p>

  <h2 class="text-2xl font-semibold mt-6 mb-4">4. Uso adecuado de los servicios</h2>
  <p class="text-gray-700 text-lg mb-4">
    Te comprometes a utilizar nuestros servicios de manera legal y ética. No podrás usar nuestros servicios para realizar actividades ilegales o cualquier actividad que dañe la reputación de nuestro restaurante o la experiencia de otros usuarios.
  </p>

  <h2 class="text-2xl font-semibold mt-6 mb-4">5. Propiedad intelectual</h2>
  <p class="text-gray-700 text-lg mb-4">
    Todo el contenido del sitio web de Taberna El Rinconcillo, incluyendo textos, imágenes, logos y menús, está protegido por derechos de propiedad intelectual y es propiedad exclusiva de nuestro restaurante. No está permitido reproducir, distribuir o utilizar dicho contenido sin nuestro permiso expreso.
  </p>

  <h2 class="text-2xl font-semibold mt-6 mb-4">6. Limitación de responsabilidad</h2>
  <p class="text-gray-700 text-lg mb-4">
    No nos hacemos responsables de ningún daño directo o indirecto que pudiera surgir del uso de nuestros servicios. Esto incluye daños a dispositivos electrónicos, pérdida de datos o cualquier otro tipo de perjuicio derivado del uso del restaurante o del sitio web.
  </p>

  <h2 class="text-2xl font-semibold mt-6 mb-4">7. Política de cancelación y reembolsos</h2>
  <p class="text-gray-700 text-lg mb-4">
    Dado que no ofrecemos reservas en línea, no se aplican políticas de cancelación ni reembolsos a nuestros servicios. En el caso de promociones o eventos especiales, se indicarán condiciones adicionales en las promociones correspondientes.
  </p>

  <h2 class="text-2xl font-semibold mt-6 mb-4">8. Cambios en los Términos y Condiciones</h2>
  <p class="text-gray-700 text-lg mb-4">
    Nos reservamos el derecho de modificar o actualizar estos términos y condiciones en cualquier momento. Las actualizaciones serán publicadas en nuestro sitio web y entrarán en vigor de inmediato. Es tu responsabilidad revisar periódicamente estos términos.
  </p>

  <h2 class="text-2xl font-semibold mt-6 mb-4">9. Ley aplicable</h2>
  <p class="text-gray-700 text-lg mb-4">
    Estos términos y condiciones se regirán e interpretarán de acuerdo con las leyes de España. Cualquier disputa que surja en relación con el uso de nuestros servicios estará sujeta a la jurisdicción de los tribunales competentes en Almería, España.
  </p>

  <h2 class="text-2xl font-semibold mt-6 mb-4">10. Contacto</h2>
  <p class="text-gray-700 text-lg mb-4">
    Si tienes alguna pregunta o inquietud sobre estos términos y condiciones, puedes ponerte en contacto con nosotros a través de los siguientes medios:
  </p>
  <ul class="list-disc ml-8 mb-6">
    <li>Teléfono: +34 600 09 89 01</li>
    <li>Correo electrónico: tabernarinconcillo@outlook.es</li>
    <li>Dirección: Pl. Nueva, 5, 04550 Gérgal, Almería, España</li>
  </ul>
</div>
